.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 73px;
}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover {
    background-color: rgb(235, 229, 229);
    
}

.sidebar-link img {
    height: 25px;
}